{% extends "base.html" %}

{% block content %}
<div class="christmas-container">
    <div class="snowmen-decoration left"></div>
    <div class="snowmen-decoration right"></div>
    
    <div class="merry-christmas-card">
        <div class="snow-overlay"></div>
        <h1>🎄 Merry Christmas! 🎄</h1>
        
        
        
        <div class="christmas-message">
            <p> Merry Christmas. Christmas is the best holiday.


            </p>
        </div>
        
        <a href="/" class="christmas-button">Return to Start</a>
    </div>
</div>
{% endblock %}